
body{margin:0;font-family:Arial;background:linear-gradient(135deg,#141e30,#243b55);color:white}
.container{max-width:900px;margin:auto;padding:30px}
.card{background:rgba(255,255,255,0.08);padding:15px;border-radius:12px;margin-bottom:15px}
input{width:100%;padding:10px;border-radius:8px;border:none}
button{margin-top:10px;padding:10px 15px;border:none;border-radius:8px;background:#ffb703;font-weight:bold}
#foodList{list-style:none;padding:0;margin:0;background:#203a43;border-radius:8px;max-height:200px;overflow:auto}
#foodList li{padding:8px;border-bottom:1px solid #333;cursor:pointer}
#foodList li:hover{background:#2a9d8f}
.result{background:rgba(255,255,255,0.1);padding:20px;border-radius:12px;margin-top:20px}
.badge{padding:6px 12px;border-radius:20px;font-weight:bold}
.Healthy{background:#2ecc71}
.Moderate{background:#f1c40f;color:black}
.Junk{background:#e74c3c}
