
body{
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
padding:20px;
}
input,button{
padding:10px;
margin:5px 0;
width:100%;
border-radius:6px;
border:none;
}
button{background:#ffd166;font-weight:bold;cursor:pointer;}
#suggestions div{
background:#1f3b4d;
padding:8px;
cursor:pointer;
}
#suggestions div:hover{background:#ffd166;color:black;}
#result{
margin-top:20px;
background:#1f3b4d;
padding:15px;
border-radius:10px;
}
