
body{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  font-family:Arial;
  padding:40px;
}
input,button{
  padding:10px;
  margin-top:10px;
  width:280px;
}
button{
  background:#ffd166;
  border:none;
  cursor:pointer;
}
#result{
  margin-top:20px;
  background:rgba(255,255,255,0.1);
  padding:20px;
  border-radius:10px;
}
