
body{
margin:0;font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;min-height:100vh;text-align:center;
}
.title{margin-top:20px}
.glass{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
border-radius:18px;
padding:20px;
margin:20px auto;
width:85%;
max-width:900px;
}
input{
width:100%;padding:14px;border-radius:10px;border:none;font-size:16px;
}
#suggestions div{
padding:10px;cursor:pointer;
}
#suggestions div:hover{
background:rgba(255,255,255,0.2);
}
.hidden{display:none}
.badge{padding:6px 14px;border-radius:20px;font-weight:bold}
.Healthy{background:#2ecc71;color:#000}
.Junk{background:#e74c3c;color:#fff}
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:15px;margin-top:20px;
}
.card{
background:rgba(255,255,255,0.2);
padding:15px;border-radius:14px;
}
.emoji-bg{
position:fixed;top:0;left:0;width:100%;height:100%;
z-index:-1;
background-image:radial-gradient(#ffffff22 1px,transparent 1px);
background-size:40px 40px;
animation:move 40s linear infinite;
}
@keyframes move{
from{background-position:0 0}
to{background-position:1000px 1000px}
}
