
body{
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  text-align:center;
}
.card{
  background:rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding:20px;
  margin:20px auto;
  width:60%;
  border-radius:12px;
}
img{max-width:200px;margin-top:10px;}
.healthy{color:#3cff7a;}
.junk{color:#ff4c4c;}
