
body{
margin:0;font-family:Arial;background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;min-height:100vh;text-align:center;
}
.glass{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
border-radius:15px;
padding:20px;
margin:20px auto;
width:80%;
}
input{
width:100%;padding:12px;border-radius:8px;border:none;font-size:16px;
}
#suggestions div{
padding:8px;cursor:pointer;
}
#suggestions div:hover{background:rgba(255,255,255,0.2);}
.hidden{display:none;}
.card{
display:inline-block;
background:rgba(255,255,255,0.2);
padding:10px;margin:8px;border-radius:12px;
}
.Healthy{color:#3cff8f;font-weight:bold;}
.Junk{color:#ff5f5f;font-weight:bold;}
