
body{
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
margin:0;
}
.glass{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(12px);
padding:20px;
margin:20px auto;
width:85%;
max-width:900px;
border-radius:18px;
}
input,button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:none;
font-size:16px;
}
button{background:#ffd166;font-weight:bold;cursor:pointer}
.hidden{display:none}
.Healthy{color:#2ecc71;font-weight:bold}
.Junk{color:#e74c3c;font-weight:bold}
